flows/Dependency_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Dependency_Function</name>
        <label>Call Dependency Function</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>env_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>dependency_function</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <stringValue>[{&quot;name&quot;:&quot;comps&quot;,&quot;value&quot;:&quot;hello&quot;}]</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_id_List</name>
        <label>Set id List</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>List_of_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_through_committed_metadata.copado__Type__c}-{!Loop_through_committed_metadata.copado__Metadata_API_Name__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_committed_metadata</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Dependency Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dependency Flow</label>
    <loops>
        <name>Loop_through_committed_metadata</name>
        <label>Loop through committed metadata</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Queried_Committed_Metadata_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_Dependency_Function</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Environment_Id</name>
        <label>Query Environment Id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_User_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputAssignments>
            <assignToReference>env_id</assignToReference>
            <field>copado__Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Queries User Story for committed component</description>
        <name>Query_User_Story</name>
        <label>Query User Story</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_committed_metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story_Metadata__c</object>
        <outputReference>Queried_Committed_Metadata_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>copado__Metadata_API_Name__c</queriedFields>
        <queriedFields>copado__Type__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Environment_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>env_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_of_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Queried_Committed_Metadata_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story_Metadata__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user_story_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a244x000001XpraAAC</stringValue>
        </value>
    </variables>
</Flow>
