flows/Dependency_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Dependency_Function</name>
        <label>Call Dependency Function</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Query_Result_Reocrd</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>env_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>dependency_function</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>parameterJSONString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Concatenating_names</name>
        <label>Concatenating names</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>concatenated_names_types</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!concatenated_names_types}***{!Loop_through_CM_Records.copado__Metadata_API_Name__c}::{!Loop_through_CM_Records.copado__Type__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_CM_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>EnvUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>Dependency Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dependency Screen Flow</label>
    <loops>
        <name>Loop_through_CM_Records</name>
        <label>Loop through CM Records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Queried_CM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenating_names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_Dependency_Function</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Committed_Metadata_Records</name>
        <label>Get Committed Metadata Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_CM_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story_Metadata__c</object>
        <outputReference>Queried_CM_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>copado__Metadata_API_Name__c</queriedFields>
        <queriedFields>copado__Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Environment_Context</name>
        <label>Get Environment Context</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Committed_Metadata_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputAssignments>
            <assignToReference>env_id</assignToReference>
            <field>copado__Environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Result_Reocrd</name>
        <label>Query Result Reocrd</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dependency_Job_Result_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Job_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>dependency_function</stringValue>
            </value>
        </filters>
        <object>copado__Result__c</object>
        <outputReference>ResultRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Dependency_Job_Result_Log</name>
        <label>Dependency Job Result Log</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result_Link</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!EnvUrl}{!ResultRecord.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt; to view logs for the running dependency job &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retrieving_Dependencies</name>
        <label>Retrieving Dependencies</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Environment_Context</targetReference>
        </connector>
        <fields>
            <name>depend_text</name>
            <fieldText>&lt;p&gt;Click &lt;strong&gt;Next&lt;/strong&gt; to run the dependencies job&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieving_Dependencies</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>concatenated_names_types</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>env_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_of_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parameterJSONString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[{&quot;name&quot;:&quot;comps&quot;,&quot;value&quot;:&quot;hello&quot;},{&quot;name&quot;:&quot;comps&quot;,&quot;value&quot;:&quot;{!concatenated_names_types}&quot;}]</stringValue>
        </value>
    </variables>
    <variables>
        <name>Queried_CM_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story_Metadata__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Result__c</objectType>
    </variables>
</Flow>
