flows/Jest_Tests_2nd_Gen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_unique_file_name_to_list</name>
        <label>Add unique file name to list</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>listoffilenames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_lwc_components_and_add_them_to_list_of_file_names.copado__Metadata_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_lwc_components_and_add_them_to_list_of_file_names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_count_of_lwc_components</name>
        <label>Assign count of lwc components</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Countoflwconuserstory</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_user_story_metadata_on_user_story</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserStoryReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userstoryforjesttests.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserStoryRecordID.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userstoryforjesttests.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_to_see_if_metadata_contains_lwc</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_duplicates</name>
        <label>Check for duplicates</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Add_unique_file_name_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>list_of_lwc_contains_file_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listoffilenames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_all_lwc_components_and_add_them_to_list_of_file_names.copado__Metadata_API_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_lwc_components_and_add_them_to_list_of_file_names</targetReference>
            </connector>
            <label>list of lwc contains file already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_see_if_metadata_contains_lwc</name>
        <label>Check to see if metadata contains lwc</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_1_or_more_lwc_components</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Countoflwconuserstory</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_lwc_components_and_add_them_to_list_of_file_names</targetReference>
            </connector>
            <label>Has 1 or more lwc components</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>setparametersforjesttest</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;name&quot;:&quot;lwcList&quot;,&quot;value&quot;:&quot;&apos;&amp; {!listoffilenames} &amp;&apos;&quot;}, {&quot;name&quot;:&quot;usId&quot;,&quot;value&quot;:&quot;&apos;&amp; {!UserStoryRecordID.Id} &amp;&apos;&quot;},{&quot;name&quot;:&quot;usNumber&quot;,&quot;value&quot;:&quot;&apos;&amp; {!UserStoryReference} &amp;&apos;&quot;},{&quot;name&quot;:&quot;branch&quot;,&quot;value&quot;:&quot;&apos;&amp; {!userStoryGitBranch} &amp;&apos;&quot;}]&apos;</expression>
    </formulas>
    <formulas>
        <name>userStoryGitBranch</name>
        <dataType>String</dataType>
        <expression>&apos;feature/&apos;+{!UserStoryReference}</expression>
    </formulas>
    <interviewLabel>Jest Tests 2nd Gen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Jest Tests 2nd Gen</label>
    <loops>
        <name>Loop_through_all_lwc_components_and_add_them_to_list_of_file_names</name>
        <label>Loop through all lwc components and add them to list of file names</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_user_story_metadata_on_user_story</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_duplicates</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_user_story_metadata_on_user_story</name>
        <label>Get user story metadata on user story</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_count_of_lwc_components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userstoryid</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Metadata_API_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>lwc</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story_Metadata__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Metadata_API_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_story_record</name>
        <label>Get user story record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_user_story_metadata_on_user_story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userstoryid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__User_Story__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_user_story_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Countoflwconuserstory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story_Metadata__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kickoffflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listoffilenames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sessionid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Test_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userstoryforjesttests</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <description>Context user story id</description>
        <name>userstoryid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserStoryRecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>UserStoryReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
